header{
	color:white;
	font-weight:70px;
	font-size:30px;
	margin-left:20px;
	font-style:bold;
}
body {
font-family: Arial, Helvetica, sans-serif;
background:url(reg.jpg);
background-repeat:no-repeat;
background-size:cover;
}
form {
margin-top:100px;
border: 5px hidden ;
border-radius: 10px;
width:25%
}
form, .imgcontainer{
	text-align:center;
	content:center;
	margin-left:500px;
	background-image: linear-gradient(to right, #8e2de2, #4a00e0);;
	
}
h2{
	font-family:Garamond,serif;
	text-transform:uppercase;
	color:white;
	text-align:center;
	font-weight:bolder;
	font-size:30px;
}
input[type=text], input[type=password], input[type=email]{
  width: 50%;
  padding: 10px 10px;
  margin: 5px 0;
  display: relative;
  border-color: #2ecc71;
  border-radius:24px;
  box-sizing: border-box;
}
b{
	color:white;
}
button {
  background-image: linear-gradient(to right, #00b09b, #96c93d);
  border-color: #BAE8E8;
  padding: 14px 20px;
  margin: 15px 0;
  border-radius:20px;
  cursor: pointer;
  width: 40%;
  margin-left:120px;
  text-align:center;
  display:block;
  box-sizing:border-box;
}

button:hover {
	background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
color:#FFFFFF;
}


.imgcontainer {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

img.avatar {
  width: 40%;
  height:100px;
  float:center;
  border-radius: 60%;
}

.container {
  padding: 10px;
}

span.psw {
  float: left;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  
}